$button-and-back-color: #ffb800;
$title-color: #0c122d;
$button-color: #1b5fc1;
$hover-button-color: #1f9ff9;
$white-color: #fff;
$paragraph-color: #575c74;
$copyright-color: #e1e6ec;
$border-color: #e0e0e0;
$back-color: #ecf0f5;
$logo-color: #c4c4c4;
